<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Style.css">
    <link rel="icon" href="./Cutiee By shei.jpg">
    <title>JohnLov's Portfolio</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_portfolio.css' %}">
    <link rel="icon" href="{% static 'icon.png' %}">
</head>

<html>
    <body>
        <img src="{% static 'icon.png' %}">
        <a href="{% url 'GTA' %}" style="font-size: 2em; text-decoration: none; color: white; ">Back</a>
    </body>






</html>